{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "simple-import-sort"],
    "extends": ["plugin:@typescript-eslint/recommended", "plugin:prettier/recommended"],
    "rules": {
        "prettier/prettier": "error",
        "no-unused-vars": "warn",
        "curly": "error",
        "no-extra-boolean-cast": "error",
        "@typescript-eslint/ban-types": [
            "error",
            {
                "types": {
                    "Function": false
                },
                "extendDefaults": true
            }
        ],
        "@typescript-eslint/no-empty-function": "off"
    }
}
